
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div> 
    @Html.ActionLink("Open your contacts", "Index", "Contacts")<br />
    @Html.ActionLink("Open logs", "Index", "Logs")
</div>
<h4>
    @ViewData["MessageText"]
</h4>

